<form action="/meetups/create" method="post">
    <ul>
        <li>
            <label for="name">CREATE GREETUPS PAGE</label>
            <br>
            <input id="username" type="text" name="username" />
            <h5>Lu, you've got this</h5>
        </li>
        <li>
            <label for="location">Location</label>
            <textarea id="location" type="text" name="location">
      </textarea>
        </li>
        <li>
            <label for="content">Content</label>
            <textarea id="content" type="text" name="content">
      </textarea>
        </li>
    </ul>
    <input type="submit" />
</form>

<label> create a new meetup:</label>
<br></br>
<label>name:</label>
<input type="text" name="meetup[name]" id="meetup_name"></input>
<br></br>
<input type="submit" value="Update Meetup">
</form>