<h3><%= @greetup.name %></h3>
<br> 
 <p>Greetup ID#: <%= @greetup.id %> </p>  
<p>Greetup Location: <%= @greetup.location %></p>
<p><% #@greetup.owner_id %></p>

<a href="/greetups/<%= @greetup.id %>/edit">Edit Greetup</a>
<br>
<br>
Delete Greetup Event