<h2>Signup Below!</h2>

<form class="" action="/signup" method="post">
 
<input type="text" name="" value="">
<input type="text" name="" value="">
<input type="submit" name="" value="Create User">

</form>