<form action="/articles" method="post">
    <ul>
        <li>
            <label for="name">username</label>
            <input id="username" type="text" name="username" />
        </li>
        <li>
            <label for="content">Content</label>
            <textarea id="content" type="text" name="content">
      </textarea>
        </li>
    </ul>
    <input type="submit" />
</form>