    <h1>                  Welcome to Greetup </h1>
    <h1> A Meetup Manager for Bootcamp Graduates </h1>
    
    
    <div class="content">
    <a href="/login">Log In</a>
    OR
    <a href="/signup">Sign Up!</a>
    </div>

  </div>
</div>
