    <h1>                  Welcome to Greetup </h1>
    <h1> A Meetup Manager for Bootcamp Graduates </h1>
    
    
    <div class="content">
    <a href="/login">Log In</a>
    OR
    <a href="/signup">Sign Up!</a>
    </div>

    <div class="sidebar">

      

      <h3>Stay Connected with Us</h3>
      Check out our <a href="/blog">Blog!</a>
      <br>
      <br>
      or
      <br>
      <br>
      Follow us on <a href="/twitter">Twitter!</a>

    </div>

  </div>
</div>
